
* {
    position: absolute;
}
.background-image{

	
	top: 0px;
	left: 0px;
	height: auto;
	width: 1000px;

	
}

#horse {

	width: 300px;
	top: 320px;
	left: 0px;
}

#cow {

	width: 314px;
    top: 309px;
    left: 686px;
}

#rooster {

	width: 314px;
    top: 50px;
    left: 465px;
    height: 150px;
    width: auto;
}