
* {
    position: absolute;
}

img:hover {
  cursor: pointer;
}

.background-image{

	
	top: 0px;
	left: 0px;
	height: auto;
	width: 1000px;

	
}

#horse {

	width: 300px;
	top: 320px;
	left: 0px;
}

#cow {

	width: 314px;
    top: 309px;
    left: 686px;
}

#rooster {

	
    top: 50px;
    left: 405px;
    height: 291px;
    
}

#pig {
   width: 32px;
   top: 480px;
   left: 726px;
}

#fox {
    width: 71px;
    top: 437px;
    left: 518px;
}